:root{
    --fir: #000;
    --sec: rgb(203, 29, 29);
    --secA: rgba(203, 29, 29, .4);
    --tit: 3vw;
    --reg: 1.5vw;
    --butt: 1vw;
    --padding: 10%
}

@font-face {
    font-family: ortbold;
    src: url(Ortica-Bold.woff);
  }
  
  @font-face {
    font-family: ortlight;
    src: url(Ortica-Light.woff);
  }

  :root{
    --fir: #000;
    --sec: #f00;
    --tit: 3vw;
    --subtit: 2.2vw;
    --reg: 1.5vw;
    --bold: ortbold;
    --light: ortlight;
}


*{
    font-family: ortlight;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
      
body{
    height: 100%;
    transition:all .5s;
    width: 100%;
    overflow-x: hidden;

}

.row{
    width: 100%;
    min-height: 100%;
    position: absolute; 
    border: .4vw solid var(--fir);
    /* border-top: .4vw solid var(--fir);
    border-left: .4vw solid var(--fir);
    border-right: .4vw solid var(--fir);  */
    padding: 5% var(--padding);
}

#home{
    /* margin: 5%; */
    display: fixed;
}

#home a{
    text-decoration: none;
}



span{
    color: var(--fir);
}


h2{
    font-size: var(--tit);
    color: var(--sec);
    color: red;
    line-height: 3vw;
    margin-bottom: 3%;
}

h2 a:visited{
    color: var(--red);
}


p{
    /* margin-top: 3vw; */
    line-height: var(--subtit);
    font-family: var(--light);
    font-size: var(--reg);
} 

a:link, a:visited{
    text-decoration: none;
}

.menucontainer{
    position: fixed;
    right: var(--padding);
    height: 80%;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: solid red 5px; */
    height: 80%;
}

button{

    /* margin-top: 2vw; */
    border: solid var(--fir) 2px;
    width: 8vw;  
    height: 4vw;
    /* background-color: rgba(198, 134, 134, 0.571); */
    color: var(--fir);
    font-size: var(--butt);
    box-shadow: 6px 9px #999;
}

button:hover {background-color: var(--secA)}

button:active {
  background-color: red;
  transform: translateY(4px);
}

 .red {
    color: var(--sec);
    border: solid var(--sec) 2px;
    box-shadow: var(--sec) 1px 1px 3px;
    transform: translateY(4px);
  }





.text{
    width: 60%;
    position: relative;
    overflow-y: visible;
    /* height: 90%; */
    /* border: red 4px solid; */
}

.footer{
    position: fixed;
    margin: 0;
    width: 100%;
    border: var(--fir) .40vw solid;
    height: 10%;
     margin: 0;
    bottom: 0; 
    padding: 2vw;
    background-color: white;

}

.footer a{
color: var(--fir);
font-size: var(--reg);
font-family: var(--light);
}



#bio{
    display: none;
}
#concerts{
    display: none;
}
#repertoire{
    display: none;
}
#teaching{
    display: none;
}
#press{
    display: none;
}
#contacts{
    display: none;
}





.mainT{
    margin-top: 3vw;
}

/* iframe{
    width: 100%;
} */

/* .content { display: none; } */